<header>
    <div class="container1">
        <a href="#" routerLink="/" class="logo"> Food Delivery App </a>
        <app-search></app-search>
        <nav>
            <ul>
                <li>
                   <a href="#" id="Login" class="Login"> Login </a>
                </li>
                <li>
                   <a href="#" id="SignUp" class="SignUp"> SignUp </a>
                </li>
                <li>
                    <a class="cart"><fa-icon [icon]="shoppingcart"></fa-icon></a>
                </li>
                
            </ul>
        </nav>
    </div>
</header>