header
{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid #5e17eb;
}

a{
    background-color: #5e17eb;
    color: white;
}

.container1
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #5e17eb;
}

a.logo
{
    font-weight: bold;
    padding: 1rem ;
    background-color: #1e0059;
    border-radius: 10px;
    margin: 7px;
}

nav ul
{
    list-style-type: none;
    margin: 0;

}

nav ul li a
{
    padding: 1em;
    display: inline-block;
}

a.cart
{
    font-weight: bold;
    padding: 0.6rem ;
    background-color: #1e0059;
    border-radius: 10px;
    margin: 7px;
    display: flex;
}

a.cart:hover
{
    background-color: white;
    color: #1e0059;
    cursor: pointer;
}
li
{
    display: inline;
}

a.Login:hover
{
    background-color: white;
    color: #1e0059;
    cursor: pointer;
}

a.SignUp:hover
{
    background-color: #1e0059;
    color: white;
    cursor: pointer;
}


a.SignUp
{
    font-weight: bold;
    padding: 0.6rem ;
    background-color: white;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    color: #1e0059;
}

a.Login
{
    font-weight: bold;
    padding: 0.6rem ;
    background-color: #1e0059;
    border-radius: 10px;
    margin: 7px;
    display: flex;
}

