<header>
    <div class="container1">
        <a href="#" routerLink="/" class="logo"> Food Junction</a>
        <app-search></app-search>
        <nav>
            <ul>
                <li>
                  <app-modal></app-modal> 
                </li>
                <li>
                   <app-signupmodal></app-signupmodal>
                </li>
                <li>
                    <a class="cart"routerLink="Cart"><fa-icon [icon]="shoppingcart" ></fa-icon></a>
                </li>
                
            </ul>
        </nav>
    </div>
</header>