.modal.show
{
    display: block ;
}

.btn-primary
{
    background-color: #1e0059 !important;
    border: none;
    border-radius: 10px;
    margin: 7px;
    height:3.5rem;
    font-weight: bold;
}

.btn-primary:hover
{
    background-color: white !important;
    color: #1e0059;
}