.search
{
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
}

.search input
{
    border-radius: 10px 0 0 10px;
    border: none;
    height: 3.1rem;
    width: 20rem;
    background-color: whitesmoke;
    padding: 1.2rem;
    outline: none;
}

div button
{
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    padding: 0.5rem;
    background-color: #1e0059;
}

div button:hover
{
    opacity: 1;
}

