ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.MainHeader{
    height: 24rem;
    width: 25 rem;
    border: 1px solid #5e17eb;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #5e17eb;
}

li a:hover{
    opacity: 0.9;
}

.content
{   padding: .5rem 1rem;
    position: relative;

}
.price
{
    color: grey;
    margin-top: .2rem;
}

p
{
    display: block;
}
.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.details
{
    justify-content: right;
    display: inline;
}
.btn-primary{
    background-color: #5e17eb!important;
    border-color: #5e17eb;
}

.zoom :hover
{
   
  transform: scale(1.02);
}