<app-corousel *ngIf="!searchquery"></app-corousel>
<ul class="zoom">
    <li *ngFor="let food of foods">
        <Div class="MainHeader"><img src="{{food.imageUrl}}" alt="Food Image">
            <table>
                <tr>
                    <td colspan="3" style="text-align: center; font-size: large; padding-top: 0.5rem;">
                            {{food.name}}
                    </td>
                </tr>
                <tr style="padding-bottom: 0rem;">
                    <td style="text-align: center; padding-left: 1rem;">
                        <div class="price">
                            {{food.price|currency:'INR'}}
                        </div>
                    </td>
                    <td>
                        <select name="" id="" style="height: 27px; width: 50px " onchange="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary " data-toggle="button"  style="font-size: 10px;" (click)="fs.addtocart(food.id)">
                            Add To Cart
                            </button>
                    </td>
                </tr>
            </table>
           
        </Div>
        
    </li>

</ul>

<div class="notfound">
<p *ngIf="foods.length===0"> No Food Found</p>
</div>
